<nav class="barnav">
    <ul id="nav">
        <li><a href="/">Accueil</a></li>
        <li><a href="/toto">Toto (error)</a></li>
        <li><a href="/users">Users</a></li>
        <li><a href="/userspopulate">Users Populated by Countries</a></li>
        <li><a href="/hello">Hello</a></li>
        <li><a href="/exos">Exercices</a></li>
        <li><a href="/countries">Pays</a></li>
        <li><a href="/usersCountries">Liste Users lien Countries</a></li>
    </ul>    
</nav>  