<div id="countries">
    <h2>La liste des pays</h2>
    <select>
        {{#each data}} 
            {{#compare this.code 'FR' operator='=='}}
                <option value="{{this.code}}" selected>{{this.name}}</option>
            {{else}}
                <option value="{{this.code}}">{{this.name}}</option>
            {{/compare}}        
        {{/each}}
    </select>

</div>