<!DOCTYPE html>
<html>
  <!-- ci dessous le lien vers head.hbs qui sera chargé au rendu -->
  {{> head}}
  <body>
    {{> nav}} <!-- charge le fichier nav.hbs qui définit le menu -->
    {{{body}}}  <!-- charge par défaut la page index.hbs à la place du {{{ body }}} -->
    {{> footer}} <!-- permet d'ajouter un bloc pour le pied de pages -->
  </body>
</ht