<h1> Express App : {{title}}</h1>
<ul>
    <li>name :.......................... {{data.name}}</li><br/>
    <li>firstName :..................... {{data.firstname}}</li><br/>
    <li>login :......................... {{data.login}}</li><br/>
    <li>mdp :........................... {{data.mdp}}</li><br/>
    <li>function :...................... {{data.function}}</li><br/>
    <li>office :........................ {{data.office}}</li><br/>
    <li>date_naiss :.................... {{data.date_naiss}}</li><br/>
    <li>adresse1 :...................... {{data.adresse1}}</li><br/>
    <li>adresse2 :...................... {{data.adresse2}}</li><br/>
    <li>cp :............................ {{data.cp}}</li><br/>
    <li>mobile_phone :.................. {{data.mobile_phone}}</li><br/>
    <li>home_phone :.................... {{data.home_phone}}</li><br/>
</ul>