<h1>{{ stitle}}</h1>
<h2>Express App : {{title}}</h2><br>
<table id="tableDate" name="exos" class="table">
    <tr>
        <th>Nom</th>
        <th>Prénom</th>
        <th>Fonction</th>
        <th>Pays</th>
    </tr>
    {{#each data}}
    <tr>
        <td>{{this.name}}</td>
        <td>{{this.firstname}}</td>
        <td>{{this.function}}</td>
        <td>{{this.country.name}} - {{this.country.code}}</td>
    </tr>
    {{/each}}
</table>

<script src="/javascript/bootstrap_native/bootstrap-native-v4.js"></script>
<script src="/javascript/bootstrap_native/polyfill.js"></script>