body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.barnav {
  width: 100%;
}

#nav {
 margin:0;
 padding:0;
}

#nav li {
  display:inline;
  padding:0;
  margin:0;
}
#nav a:link, #nav a:visited {
  color:#000;
  background:#b2b580;
}

.footer {
  font: 9px "Arial";
  background:#b2b580;
}